   <div class="cover" style="background-image: url('https://static.pexels.com/photos/4295/black-and-white-alcohol-bar-drinks.jpg">
        <h1>MISTER COCKTAIL</h1>
      </div>
    </div>
<div class="container">
  <div class="row">
        <h1>🍹🍹🍹Cocktails Menu🍹🍹🍹</h1>
    <div class="col-xs-12 col-sm-4">
        <% @cocktails.each do |cocktail| %>
          <ul>
            <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://www.pexels.com/photo/summer-drinks-drink-still-life-109275/');">
              <li>
            <%= link_to cocktail.name , cocktail_path(cocktail), class: "card-category" %>
              </li>
            </div>
          </ul>
        <% end %>
    </div>
    <div class="col-xs-12 col-sm-4">
        <% @cocktails.each do |cocktail| %>
          <ul>
            <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://www.pexels.com/photo/summer-drinks-drink-still-life-109275/');">
              <li>
            <%= link_to cocktail.name , cocktail_path(cocktail), class: "card-category" %>
              </li>
            </div>
          </ul>
        <% end %>
    </div>
    <div class="col-xs-12 col-sm-4">
        <% @cocktails.each do |cocktail| %>
          <ul>
            <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://www.pexels.com/photo/summer-drinks-drink-still-life-109275/');">
              <li>
            <%= link_to cocktail.name , cocktail_path(cocktail), class: "card-category" %>
              </li>
            </div>
          </ul>
        <% end %>
    </div>
        <%= link_to "Add a new cocktail", new_cocktail_path, class: "btn btn-warning" %>
  </div>
</div>

