// Place all the styles related to the cocktails controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
h1 {
  font-size: 32px;
  color: orange;
}

h4 {
  margin: 25px;
  color: orange;
}

ul {
  list-style: none;
}

a {
  color: orange;
}

a:hover {
  color: orange;
  opacity: 0.8;

  text-decoration: none
}
.container a:hover {
  font-size: 20px;
}

.row {
  text-align: center
}

.name {
  color: brown;
  font-weight: bolder;
  font-size: 22px;
  margin: 6px;
}

.cocktail {
  border-radius: 5px;
  box-shadow: 0 0  10px #000000;
  margin: 10px;
}

